output
.vscode
apsp_dijkstra/dijkstra_parallel.exe
apsp_dijkstra/dijkstra_parallel.exp
apsp_dijkstra/dijkstra_parallel.lib
apsp_dijkstra/dijkstra_serial.exe
apsp_dijkstra/dijkstra_comparison.exe 
apsp_dijkstra/dijkstra_comparison.exp
apsp_dijkstra/dijkstra_comparison.lib
apsp_floyd/floyd_serial.exe
apsp_floyd/floyd_parallel.exe
apsp_floyd/floyd_parallel.exp
apsp_floyd/floyd_parallel.lib
apsp_floyd/floyd_comparison.exe
apsp_floyd/floyd_comparison.exp
apsp_floyd/floyd_comparison.lib
apsp_floyd/floyd_results.log